@import "../../index.scss";

$content-max-width: 1250px;

header {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    max-width: $content-max-width;
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;

    .logo-img {
        height: 3rem;
        fill: $color-primary;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 3rem;
        list-style: none;
        font-size: 1.5em;

        .link {
            color: $color-primary;
            text-decoration: none;
        }
        .active {
            text-decoration: underline;
        }

        @media (max-width: $breakpoint-md) {
            font-size: 1.1em;
            text-transform: uppercase;
            gap: 1rem;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    color: white;
    background-color: black;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 2.5rem 1.5rem;

    @media (max-width: $breakpoint-md) {
        padding-block: 2.5rem;
        gap: 1.3rem;
    }

    p {
        font-size: 1.2em;
        @media (max-width: $breakpoint-md) {
            font-size: 1em;
        }
    }

    .logo-img {
        height: 2rem;
        fill: white;
    }
}

.page-layout-container {
    margin: 0 auto;

    main {
        max-width: $content-max-width;
        width: 100%;
        min-height: 80vh;
        margin-inline: auto;
        padding-inline: 1rem;
    }
}
