@import "../../theme/exports";

$border-radius: 0.5rem;
$content-padding: 1rem;
$content-background-color: #f7f7f7;

.dropdown-container {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    background-color: $content-background-color;
}

.dropdown-container__button {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: $content-padding 0.5rem;
    padding-block: 0.5rem;
    color: white;
    background-color: $color-primary;
    border-radius: $border-radius;
    border: none;
}

.dropdown-container__content {
    background-color: $content-background-color;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 1.5rem $content-padding;
    color: $color-primary;
}
