@import "../../index.scss";

$section-border-radius: 25px;

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 2rem;
}

.accommodations-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    background-color: #f6f6f6;
    border-radius: $section-border-radius;
    padding: 2rem;

    @media (max-width: $breakpoint-md) {
        background: none;
        padding: 0;
    }
}

.accommodation-link {
    text-decoration: none;
}

.banner {
    border-radius: $section-border-radius;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

    .banner__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .banner__title {
        color: white;
        font-size: 2em;
        font-weight: lighter;
        z-index: 1;
    }

    @media (max-width: $breakpoint-md) {
        height: 150px;
        font-size: 0.8rem;
    }
}
